/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Black background for the body */
    color: #fff; /* White text */
    padding: 20px;
}


/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #1c1c1c; /* Dark grey for main container */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Soft white shadow */
    border-radius: 10px;
}

/* Page Heading */
h1, h3 {
    margin: 2px;
    font-family: 'Clash Grotesk', sans-serif;
    color: #fff; /* White headings */
}

h1 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.0em;
}

/* Input Forms */
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #444; /* Dark border */
    border-radius: 8px;
    background-color: #333; /* Dark background for input */
    color: #fff; /* White text */
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #00FFAB; /* Bright green on focus */
}

/* Button Styles */
button, a {
    margin: 1px 0;
    padding: 10px 20px; /* Added more padding for better button size */
    text-decoration: none;
    background-color: #00FFAB; /* Royal blue background for buttons */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth hover transition */
    black-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Display "..." when text overflows */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    display: inline-block; /* Ensures that the element behaves like a button */
}

button:hover, nav a:hover, nav button:hover {
    background-color: #00d88b; /* Darker blue on hover */
}

nav a {
    display: inline-block; /* Keep nav links inline */
}

button:hover, nav a:hover, nav button:hover {
    background-color: #00FFAB; 
}

/* Pages */
.page {
    display: none;
    width: 100%;
}

/* Form Containers */
.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Footer Styles */
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #777; /* Light grey for footer text */
}

footer a {
    color: #00FFAB; /* Bright green for links */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Section Styling */
section {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #00FFAB; /* Dark border */
    border-radius: 8px; /* Rounded corners */
}

/* Wallet Address Display */
#walletAddress {
    display: flex;
    justify-content: center;
    font-size: 20px; 
    gap: 10px; /* Space between buttons */
    margin: 20px 0; /* Adds gap above and below */
}

/* Home Section */
#home {
    padding: 0;    /* Remove padding */
    margin: 0;     /* Remove margin */
    border: none;  /* Remove border */
}

/* Paragraphs and Lists */
p {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444; /* Dark border for paragraphs */
    word-break: break-all;
    text-decoration: none;
}

.info-section {
  border: 2px solid #00FFAB; /* Add green border */
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #bec4cf;
  background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
  padding: 1.5rem;
  border-radius: 1.2rem;
}
.bgblue {
  background: linear-gradient(135deg, #fffffff5, #3a4b8a, #ffffff98);
  padding: 1px;
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  max-width: 300px;
}
